@charset "UTF-8";

body{ background-color: #fffcf6;}

.bg_01{ background-color: #f3f4f5;}

.content{ width: 1200px; margin: 0 auto;}

.regnow{ position: absolute;}

.relative{ position: relative;}
.o-h{ overflow: hidden;}


.header{ height: 139px; background: #fff;}
.banner{ height: 800px; background: url("../images/banner.png") center no-repeat; position: relative;}

.mid-tit h3{ font-size: 40px; font-weight: lighter; color: #5e6b8d;}
.mid-tit p{ font-size: 30px; color: #4a4a4a;}

.mid-p{ font-size: 18px; color: #000; padding: 20px;}

.t-i{ text-indent: 2em;}

.font25{ font-size: 25px;}

.mid-info-img{ background-color: #e9e3bf; padding: 5px 8px;}

.banner .regnow{ margin-left: 290px; top: 424px; color: #f70208; font-size: 18px;}

.info-mid{ overflow: hidden; padding-top: 40px; padding-left: 30px;}
.info-mid .info-list{ width: 348px; height: 172px; border: 1px solid #505050; float: left; margin: 0 15px; position: relative;}
.info-mid .info-list:after{ content: ''; position: absolute; width: 336px; height: 160px; border: 1px dashed #c78a49; left: 5px; top: 5px;}
.info-mid .info-list span{ position: absolute; width: 45px; height: 45px; background-image: url("../images/msg.png"); left: 5px; top: 5px;}
.info-mid .info-list h3{ font-size: 20px; color: #505050; margin: 20px 0 5px;}
.info-mid .info-list p{ font-size: 18px; color: #505050; line-height: 24px; margin: 0 20px; text-align: justify;}

.mid{}

.msg p{ font-size: 20px; line-height: 30px; color: #656565;}
.msg p.letter{ letter-spacing: .7em;}
.msg h3{ font-size: 48px; font-weight: lighter; color: #aa681a;}

.mid-ctn{ position: relative; margin-bottom: 58px; padding-top: 58px;}
.mid-ctn-wz{ position: absolute; left: 704px; top: 90px;}
.mid-ctn-wz.left{ left: 60px;}
.mid-ctn-wz h3{ font-size: 48px; color: #1a3174; font-weight: lighter}
.mid-ctn-wz p{ font-size: 20px; line-height: 30px; color: #747474;}
.mid-ctn-wz p.red{ color: #e85251;}

.mid3-msg{ position: absolute; width: 310px; height: 310px; left: 393px; top: 0px; background: url("../images/mid03_msg.png");}

.zuce p{ font-size: 40px; color: #4c4c4c; margin-top: 5px;}
.zuce p span{ color: #aa681a;}

.foot{ position: relative; background-color: #232a47;}

.fixed{ position: fixed; bottom: 0; left: 0; right: 0; background: url("../images/f-bg.png");}
.fixed-form{ position: absolute; left: 50%; top: 30px; margin-left: -94px;}
.fixed-form input{ display: block; width: 294px; height: 42px; border: none; background-color: transparent; margin-bottom: 10px; color: #fff; text-indent: 10px; font-size: 14px;}

.tcc{ position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.5); z-index: 999; display: none;}
.tcc-mid{ position: absolute; top: 50%; left: 50%; margin-top: -230px; margin-left: -186px; text-align: center;}
.tcc-mid a{ position: absolute; right: 20px; top: 20px;}