.fl_left{
	display:none;
	float: left;
    z-index: 1;
    position: fixed;
    bottom: 30%;
	margin-left: 1rem;
	background: #fff;
    box-shadow: 1px 4px 14px 1px #929191;
    border-radius: 1.3rem;
}
.c_title{
	height:45px;
	background:#1a6ae5;
	text-align: center;
    font-size: 22px;
    color: #fff;
    line-height: 45px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1rem;
	margin-bottom: -36px;
}
.c_left {
    padding-top: 36px;
    width: 265px;
   /*  margin: 20px auto 0; */
    position: relative;
}

.c_left img {
    display: block;
    margin: 0 auto;
}

.c_left div {
    position: absolute;
    left: 50%;
    top: 50%;
}

.c_left div.row1 {
    width: 129px;
    height: 129px;
    background-image: url(../images/row3_1.png);
    margin-left: -64px;
    margin-top: -46px;
    -webkit-animation: scroll1 8s infinite linear;
}

.c_left div.row2 {
    width: 186px;
    height: 186px;
    background-image: url(../images/row4_1.png);
    margin-left: -92px;
    margin-top: -74px;
    -webkit-animation: scroll2 8s infinite linear;
}

.c_left em {
    width: 12px;
    position: absolute;
    display: block;
    height: 65px;
    background-image: url(../images/zg_1.png);
    top: 33%;
    left: 49%;
    animation: xz 8s both infinite alternate;
    transform-origin: center 88%;
    -webkit-animation: xz 8s both infinite alternate;
    -webkit-transform-origin: center 88%;
}

.c_left i {
    width: 5px;
    position: absolute;
    display: block;
    height: 15px;
    background-image: url(../images/zg1_1.png);
    top: 66%;
    left: 35%;
    animation: xz 8s both infinite alternate;
    transform-origin: center 88%;
    -webkit-animation: xz 8s both infinite alternate;
    -webkit-transform-origin: center 88%;
}

.c_left h3 {
    text-align: center;
    font-size: 35px;
    line-height: 45px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.c_left h3 span {
    color: red;
}

.c_left i {
    display: block;
    border-radius: 50%;
    position: absolute;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.c_left .i1 {
    width: 129px;
    height: 129px;
    background: #d77bfe;
    top: 102px;
    left: 155px;
    line-height: 129px;
}

.c_left .i2 {
    width: 129px;
    height: 129px;
    background: #ff5d3d;
    top: 100px;
    right: 98px;
    line-height: 129px;
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

.c_left .i3 {
    width: 164px;
    height: 164px;
    background: #ffc13c;
    bottom: 36px;
    left: 81px;
    line-height: 164px;
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
}

.c_left .i4 {
    width: 147px;
    height: 147px;
    background: #5aa8fa;
    bottom: 47px;
    right: 20px;
    line-height: 147px;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.c_btnBg{
	width: 245px;
    height: 47px;
    line-height: 47px;
	margin: -4px auto 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: white;
    display: block;
    animation: pluse .5s ease-in-out alternate infinite;
    -webkit-animation: pluse .5s ease-in-out alternate infinite;
    border-radius: 5px;
    background-image: url(../images/c_btncolor_1.png);
}